@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Polityka prywatności</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis aliquam arcu a porta. Suspendisse in mauris rhoncus, 
    malesuada tellus non, blandit turpis. Duis feugiat quam tortor. Nam nec vulputate enim, eget convallis est. Morbi efficitur placerat 
    massa, sed viverra nisl volutpat sit amet. Quisque nec aliquam erat. Duis dapibus congue porta. Ut ut tellus sollicitudin, porta ligula ut, 
    molestie ligula. Vivamus vitae nisi lacus. Morbi ut est vehicula ante posuere varius. Praesent eget molestie nulla. </p>
    <p>
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas bibendum libero eu elit fermentum vulputate. 
    Proin arcu augue, elementum vitae magna at, finibus tempor tortor.</p>
