@model List<string>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h4>@Model.First()</h4>               
        </div>
    </div>
</div>