@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Utworzono użytkownika</h4>
<hr/>
<div class="card col-md-5 row">
    <p>Przekaż pracownikowi:</p>
    <p class="col-md-3">Login</p>
    <p class="col-md-9">@ViewBag.Email</p>
    <p class="col-md-3">Hasło</p>
    <p class="col-md-9">@ViewBag.Password</p>
    <div class="btn-group">
        <a class="btn btn-primary text-decoration-none float-end" value="Dodaj zdjęcie" asp-controller="UserViewer" asp-action="EditUserPhoto" asp-for-id="@ViewBag.Id"/>
        <a class="btn btn-bg-secondary text-decoration-none float-end" value="Zakończ" asp-controller="UserViewer" asp-action="UserViewerIndex"/>
    </div>
</div>

<label></label>