@Model GenerateScheduleModel

<div class="row">
    <h4 class="col-md-11">Określ ramy czasowe</h4>

    <button type="button" class="btn btn-secondary float-end col-md-1">            
                <a class="text-decoration-none text-white" asp-controller="MyShop" asp-action="MyShopIndex">
                    Anuluj
                </a>
        </button>
</div>
