@using Newtonsoft.Json
@using Organizer3.Models.MyShop
@model GenerateScheduleModel

<div class="row">
    <h4 class="col-md-11">Określ ramy czasowe</h4>

    <button type="button" class="btn btn-secondary float-end col-md-1">            
                <a class="text-decoration-none text-white" asp-controller="MyShop" asp-action="MyShopIndex">
                    Anuluj
                </a>
        </button>
</div>

<div class="row">
    <div>
        <form method="post" asp-action="SaveSchedule" asp-route-modl="@JsonConvert.SerializeObject(@Model)" enctype="multipart/form-data"><!--dopisac odsylacz-->
            <div class="col-md-4" asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="FromDay" class="control-label">Od dnia</label>
                <input asp-for="FromDay" class="form-control" />
                <span asp-validation-for="FromDay" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="TillDay" class="control-label">Do dnia</label>
                <input asp-for="TillDay" class="form-control" />
                <span asp-validation-for="TillDay" class="text-danger"></span>
            </div>
            <hr />
            <partial name="_GenerateSheduleDisplayShiftInfo">

            <div class="form-group mt-3 col-md-4">
                <input type="submit" value="Wygeneruj grafik" class="btn btn-primary" />
            </div>
        </form>
</div>





