@using Organizer3.Models.Scheduler
@model List<ShowMyScheduleItemModel>
<h4>Mój grafik:</h4>
    </hr>
    <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link" id="nav-A-tab" data-bs-toggle="tab" data-bs-target="#nav-A" type="button" role="tab" aria-controls="nav-A" aria-selected="true">
        Kalendarz
    </button>
    <button class="nav-link active" id="nav-B-tab" data-bs-toggle="tab" data-bs-target="#nav-B" type="button" role="tab" aria-controls="nav-B" aria-selected="false">
        Lista
    </button>    
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade " id="nav-A" role="tabpanel" aria-labelledby="nav-A-tab">


  </div>

  <div class="tab-pane fade show active" id="nav-B" role="tabpanel" aria-labelledby="nav-B-tab">
 
      <table class="table">
    <thead>
        <tr>
            <th>
                Zmiana
            </th>
            <th>
                Dzień
            </th>
            <th>
                Godziny
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.OrderBy(o=>o.Day).Where(o=>o.Day>=DateTime.Now.AddDays(-1))) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.Day.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>            
        </tr>
}
    </tbody>
</table>
       
  </div>
</div>



