@model List<SiteFunction>
@using Organizer3.Areas.Identity.Data
@using Organizer3.Models.Enums;

<h4>Dodatkowe funkcje:</h4>
<hr />
<div class="row">       
        <div class="col-md-10">
            <h4>Rekrutacja:</h4>
            @{
                @if(@Model.First(y=>y.FunctionName == SiteFunctionsEnum.SiteFunctionsData.Recruitment.ToString()).IsActive){ 
                    <p>Obecnie możliwośc składania podań o pracę jest dostępna.</p>
                }else{
                <p>Obecnie możliwośc składania podań o pracę jest zablokowana.</p>
                }
            }     
            
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-danger float-end ">        
                        <a class="text-decoration-none text-white" asp-controller="SiteFunctions" asp-action="ChangeSiteFunctionsStatus" asp-route-cId="@Model.First(y=>y.FunctionName == SiteFunctionsEnum.SiteFunctionsData.Recruitment.ToString()).Id">
                            Zmień
                        </a>
            </button>
            <button type="button" class="btn btn-secondary float-end mt-2">        
                        <a  class="text-decoration-none text-white" asp-controller="JobAplication" asp-action="JobAplicationIndex">
                            Podgląd formularza
                            </a>
            </button>           
        </div>
</div>

<hr/>
<!--div class="row">
    <div class="col-md-11">
        <h4>Zapisywanie godzin pracy czytnikiem:</h4>
        {
            if(Model.First(y=>y.FunctionName == SiteFunctionsEnum.SiteFunctionsData.CardReader.ToString()).IsActive){
                <p>Obecnie czytniki kart pracownika zapisują aktywność w bazie danych.</p>
            }else{
                <p>Obecnie zapisywanie aktywności pracowników przez czytniki kart jest zablokowana.</p>
            }
        }
    </div>
    <div class=" col-md-1">
        <button type="button" class="btn btn-danger float-end">        
                    <a class="text-decoration-none text-white" asp-controller="SiteFunctions" asp-action="ChangeSiteFunctionsStatus" asp-route-cId="Model.First(y=>y.FunctionName == SiteFunctionsEnum.SiteFunctionsData.CardReader.ToString()).Id">
                        Zmień
                    </a>
        </button>
    </div>
    <hr/>
</!--div-->
